[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
pyyaml = "*"
num2words = "*"
altair = "*"
jinja2 = "*"
altair-saver = "*"

[requires]
python_version = "3.8"
